*{
    margin: 0%;
   padding: 0%;  
}
body{
   margin: 0%;
   padding: 0%; 
   background-color: #FFFFF0;
}
header{
    background-color: #F8C8DC;
    color: white;
    width: 100%;
   
}
.slogan{
   margin-left: 290px;
   padding-top: 20px;
   padding-bottom: 0px;
   content: #6A9CA8;
}
header nav ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    margin-top: 5px;
    margin-left: 100px;
  
}
 header nav a{
    color:#FFFFF0 ;
    text-decoration: wavy;
    padding: 15px;
    display: block;
    text-align: center;

}
 header nav a:hover{
   background-color:#F8C8DC; 
   border-radius: 3px; 
}
 header nav li{
    float: left;
    border-radius: 3px;
    background-color: #6A9CA8;
   justify-content: space-around;
   margin-right: 10px;
   margin-bottom: 25px;
} 
header h1{
    font-size: 60px;
    margin-left: 100px;
    padding-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 40px;
   
   
} 
h3{
    color:#6A9CA8 ;
}
header h1 span{
    color: #6A9CA8;
} 
.firstrow{
    display: flex;
   
    margin-bottom: 30px;
    
} 
main{
    display: flex;
    margin-top: 50px;
    margin-left: 13.6%;
}
.secondrow{
    display: flex;
   
}
article img{
    width: 300px;
    height: 90px;
    border:5px solid;
    border-color: white;
    margin-top: 15px;
}
.m1{
    margin-right: 20px;
}

h2{
    margin-bottom: 15px;
    color: #F8C8DC;
}
.green{
    color: #6A9CA8;
}
.Menu li{
    margin-bottom: 15px;
    list-style: none;
}
.Sponsors li{      
    margin-bottom: 18px;
    list-style: none;
}
.mylink{
    margin-top: 20px;
}
.wraper{
    display: flex;
    margin-top: 30px;
    color: white;
    width: 70%;
    padding: 15px;
    margin-left: 15%;
   
}

.wraper img{
    width: 80px;
    height:80px;
}
.gallery{
  margin-right: 27px;  
}
.about{
    margin-right: 27px;
}
.row1{
    display: flex;
    margin-bottom: 10px;
}
.row1 img{
    margin-right: 6px;
}
.row2{
    display: flex;
    margin-right: 5px;
}
.row2 img{
    margin-right: 6px; 
}
.second{
    display: flex;
    background-color:#cba7b6;
    padding-top: 50px;
}
.second nav ul{
    display: flex;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    margin: 0px;
    margin-left:300px;
}
.second nav li{
   float: left;
   justify-content: space-around;
   margin-right: 10px;
   margin-bottom: 25px;
}  
.second nav a{
     color:#FFFFF0;
     text-decoration: wavy;
     padding: 15px;
     display: block;
     text-align: center;
     
}  
.second nav a:hover{
    background-color:#F8C8DC; 
}         
.second p{
    color: white;
    margin-top: 15px;
    margin-left: 100px;  
}
.Contact{
    margin-top: 20px;
   
}
.Contact p{
    margin-bottom: 10px;
}
.Contact span{
    font-weight: bold;
}
h3{
    margin-bottom: 10px;
}
.about img{
   float: left;
   margin-right: 15px;
}
footer{
    background-color:#F8C8DC;
}
.orange{
    color: lightsalmon;
}